---
import Layout from '../layouts/Layout.astro';
import { getBlogs } from "../lib/microcms";
const response = await getBlogs({ fields: ["id", "title"] });
---

<Layout>
	<main>
    <ul>
      {
        response.contents.map((content: any) => (
          <li>
            <a href={content.id}>{content.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
